

@if (IsVisible)
{
    if (Results)
    {
        <div id="messageBox" class="col-10 alert alert-info">
            <div class="col-11" style="text-align:left">
                <span>
                    @ChildContent Record has been saved sucessfully!
                </span>
            </div>
            <div class="col-1" style="text-align:right">
                <a style="text-underline-position:below; cursor:pointer" @onclick="CloseMessageBox">X</a>
            </div>

        </div>
    }
    else
    {
        <div id="messageBox" class="col-10 alert alert-danger">

            <div class="col-11" style="text-align:left">
                <span>
                    <b> Oops! something went wrong</b><br />
                    @ChildContent
                </span>
            </div>
            <div class="col-1" style="text-align:right">
                <a style="text-underline-position:below; cursor:pointer" @onclick="CloseMessageBox">X</a>
            </div>
        </div>
    }


}

@code {

    [Parameter]
    public bool IsVisible { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool Results { get; set; }

    void CloseMessageBox()
    {
        IsVisible = false;
    }
}
